.ant-menu-item {
    margin-right: 18px !important;
    margin-left: 18px !important;
}
html {
    scroll-behavior: smooth;
}
.ant-layout-header {
    z-index: 1000 !important;
}
.ant-select-selection-item {
    color: #eeeeee !important;
    font-weight: bold !important;
}

.imageGift {
    transition: ease-in-out;
    animation: animateGift 4s linear infinite ;
}

@keyframes animateGift {
    0% {
        box-shadow: rgba(255, 255, 0, 0.7) 0px 2px 4px;
    }

    50% {
        box-shadow: rgba(255, 255, 0, 0.7) 0px 2px 15px;
    }
}

@media (max-width: 600px) { 
.ant-layout-header {
    padding: 0 5px !important;
}
.ant-menu-item {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
 }