.notActiveSection3 {
    opacity: 0;
    /* transform: translateY(50px); */
  }
  
  .activeSection3 {
    opacity: 1;
    /* transform: translateY(0); */
  }

.ant-tabs-tab-active .ant-tabs-tab-btn {
  /* background: linear-gradient(180deg, rgba(52,54,115,0) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.7) 100%) !important; */
  text-shadow: #e350a8 1px 0 5px !important;
  font-weight: bold;
}